<h1>Edit your poem</h1>       
<form action="/poems/<%=@poem.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch"> 

    Title: <input type="text" name="title">
    Date: <input type="date" name="date">
    Body: <input type="text" name="content">





<input type="submit" value="Edit Poem">


</form>
<br>
<a href="/poems/<%=@poem.id%>/delete"><h3>Delete poem here</h3></a>
