<h1>Welcome Poet! Share your work Below.</h1>

<form action="/poems" method="POST">

    Title: <input type="text" name="title" required>
    Date: <input type="date" name="date" required><br><br>
    Poem: <textarea id="poem" name="content" required></textarea><br><br>





<input type="submit" value="Create Poem">
</form>

<br>
<a href="/poets/home"><button>Home</button></a>





