<h1>Welcome Poet! Share your work below.</h1>

<form action="/poems" method="POST">

    Title: <input type="text" name="title">
    Date: <input type="date" name="date">
    Body: <input type="text" name="content">





<input type="submit" value="Create Poem">
</form>






