<h3><%=@poem.title%></h3>
    <br>      
        <b>Title: </b><%= @poem.title%><br><br>
        <b>Poem: </b><%= @poem.content %><br><br>
        <b>Poet: </b><%= @poet.poet_name %>
        <br><br>
    <br><br><br>
    <a href="/poets/home"><button>Home</button></a>