<label>Show Page</label>

    <form action="/poems/<%=@poem.id%>/delete" method="post">       
        <input id="hidden" type="hidden" name="_method" value="delete">

        <%= @poem.content %>

        <input type="submit" value="delete">
    </form>

