<h1>Welcome <%=@poet.poet_name%></h1>
<br>
<br>
<p>What would you like to do?</p>
    <a href="/poems/new">Create a new poem</a><br>
    <a href="/poets/index">Browse other poets</a><br>
    <a href="/poems/index">Browse other poems</a><br>
    <br><br>
    <h3>Review your work</h3>
    <% @poet.poems.each do |poem|%>
       <a href=/poems/<%=poem.id%>/edit> <%= poem.title %></a><br>
        <%end%>

        