<h1>Welcome <%=@poet.poet_name%></h1>
<br>
<br>
<h3>What would you like to do?</h3>
   <ul>
    <li><a href="/poems/new">Create a new poem</a></li><br>
    <li><a href="/poets">Browse other poets</a></li><br>
    <li><a href="/poems">Browse other poems</a></li><br>
    </ul>
    <br><br>

    <h3>Review your work</h3>
    <% @poet.poems.each do |poem|%>
      <ul>
        <li><a href="/poems/<%=poem.id%>/edit"> <%= poem.title %></a></li><br>
        <%end%><br><br>
      </ul>
<br><br><br><br><br>
    <form action="/logout" method="post">
        <input type="submit" value="Logout" name="logout" >
    </form>
<br><br><br><br><br>
<b style="color:red">This link will delete your account permanently</b>
<form action="/poets/<%=@poet.id%>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="DELETE ACCOUNT">
</form>
