<h1>Welcome Back! Log in below</h1>

<form action="/login" method="POST">

Email: <input type="text" name="email">
Password: <input type="text" name="password">

<input type="submit" value="Log In">
</form>
<br><br>
<b>Need to register?</b><br><br>
<a href="/poets/new"><button><b>Create a new account!</b></button></a>