<h1>Welcome Poet, sign up below:</h1>

<form action="/poets" method="POST">

Poet Name: <input type="text" name="poet_name" value="Real name or Poetry name">
City: <input type="text" name="poet[city]">
State: <input type="text" name"poet[state]">
Age: <input type="integer" name="poet[age]">
Email: <input type="text" name="poet[email]">
Password: <input type="text" name="poet[password]">


<input type="submit" value="Sign-Up">
</form>

<br>
<br>
<br>
<b>Returning users</b> <a href="/poets/login">Login</a>