<h1>Welcome Poet, sign up below:</h1>
<br>
<form action="/poets" method="POST">

<h1><%= notice %></h1>
Poet Name: <input type="text" name="poet_name" >
City: <input type="text" name="city" >
State: <input type="text" name="state" >
Age: <input type="integer" name="age" >
Email: <input type="email" name="email" >
Password: <input type="text" name="password" >


<input type="submit" value="Sign-Up">
</form>

<br>
<br>
<br>
<b>Already registered?</b> <br>
<a href="/poets/login"><button><b>Login</b></button></a>