<h1>Welcome Poet, sign up below:</h1>
<br>
<form action="/poets" method="POST">

Poet Name: <input type="text" name="poet_name" required>
City: <input type="text" name="city" required>
State: <input type="text" name="state" required>
Age: <input type="integer" name="age" required>
Email: <input type="email" name="email" required>
Password: <input type="text" name="password" required>


<input type="submit" value="Sign-Up">
</form>

<br>
<br>
<br>
<b>Already registered?</b> <br>
<a href="/poets/login"><button><b>Login</b></button></a>